
<div class="inputform">
    <%= form_tag sessions_path do %>
      <p>
        <%= text_field_tag :email, params[:email], :placeholder => "E-Mail"%>
      </p>
      <p>
        <%= password_field_tag :password%>
      </p>
      <p><%= submit_tag "Log in", :class => "buttoninput buttonshadow" %></p>
    <% end %>
</div>
