<h1>Participate Test suite</h1>



<%= form_for @users, :url => {action: "create_user_weight"} do |f| %>

<ul>
  <% @users.each do |user| %>
      <li> <%= user.username %> <%= f.select(:attendee, :user_weight, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]) %> </li>
  <% end %>
  <p>
    <%= button_to "Select User Weight", action: "create" %>
  </p>
<% end %>
</ul>





