<h1>Participate Testsuite</h1>

<ul>
  <% @participant_array.each do |name| %>
      <li> <%= User.find(name).username %> Text </li>
  <% end %>

</ul>




<%= form_for @participant do |f| %>
    <%= f.select :user_weight, [[1], [2]]  %>
<% end %>