<div class="view" id="helppage">
    <h2>Help</h2>
    <h3>What is Noodle</h3>

    <p>Noodle is a web application for smart scheduling. Manage your meetings and appointments with your business team, your family and with your best friends in a fast, simple and appropriate way.</p>

    <h3>Why you should use Noodle</h3>

    <p>Noodle is more than just doodle. Manage your meetings with breathtaking features. Create an account and invite your friends to participate at your individual scheduling adventure. We know it better than all, that today it is literally an adventure to set an appropriate date for a necessary meeting. Often not all concerned people can participate. But do you really need to have all your invited members present on a meeting? With Noodle you can easily allocate weighted preferences to each meeting member. Who is more important to be present at the meeting than others? Who should absolutely be at the concerned meeting and who not?! Let this question comfortably be solved by Noodle, that will schedule the perfect date for you with a high precision dependent on your personal set weighted preferences. You will see, that scheduling has never been so easy. Your Meetings will be successful, once the important meeting members are present.</p>

    <h3>How to use Noodle</h3>
    <ol>
        <li>Create an Account</li>
        <li>Create an event</li>
        <li>Select a date and the appropriate time</li>
        <li>Select your friends</li>
        <li>Allocate weighted preferences to all member - very low, low, medium, high, very high</li>
        <li>Let Noodle choose the right date for you</li>
    </ol>
</div>
