<div class="view">
    <h2>Respond to invite</h2>
    <div class="inputform responses">
        <%= form_tag("/responses", :method => "post") do %>
              <% for date in @dates %>
                <% if date %>
                    <div class="invite-response">
                        <div class="invite-date floatleft">
                            <%= date.task_date.strftime("%A, %d %B %Y %H:%M") %>
                        </div>
                        <div class="check-date floatright">
                            <%= check_box_tag  "date_checkbox[]", date.id %> 
                        </div>
                    </div>
                <% end %>
              <% end %>
            <%= submit_tag("Respond", :class => "buttonshadow buttoninput select_button") %>
        <% end %>
    </div>
</div>
